body{
    background-color: black;
}

h1{
    color: brown;
}

h2{
    color: blue;
    background-color: aliceblue;
}



span{
    color: aqua;
}

div{
    border: solid 1px #aaaaaa;
    width: 300px;
}

h4{
    color: chartreuse;
}

img{
    width: 100%;   
}