/* Barra superior ================================================================= */

.barra-superior{
    border-bottom:solid 1px #afaeae; /* solid indica que a linha será continua */
    background-color: #ffffff;

    display: flex; /* Sempre deve ser indicado no elemento pai */
    flex-direction: row; /* Os elementos filhos ficaram na horisontal*/
    justify-content: space-between; /* distribui os elementos filhos iniciando na borda do inícia e terminado na borda do fim, mantendo um espaçamento igual entre os elementos */
}

.barra-de-busca{
    background-color: #ffffff;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center; /* alinha os filhos no eixo vertical, */
}

.barra-de-acoes{
    background-color: #ffffff;
    width: fit-content;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
}

.bt-primario{
    background-color: #777;
    color: white;
    border: none; /* sem borda */
    border-radius: 20px; /* arredonda as quinas */
    padding: 8px;
}

.bt-primario:hover{
    background-color: #474545;
}

.bt-secundario{
    background-color: #ffffff;
    color: #777777;
    border: none;
    border-radius: 20px;
    padding: 8px;
}

.bt-secundario:hover{
    color: black;
}

.avatar{
    /* gambiarra para este elemento se tornar um círculo*/
    height: 30px;
    width: 30px;
    border-radius: 20px;
    /* fim da gambiarra */
    border: solid 1px #afaeae;
}

.avatar:hover{
    filter: brightness(50%);
}

img{
    
    height: 70px;
    border: none;

    display: flex;
    flex-direction: row;
    align-items: center;    
}

.barra-de-pesquisa{
    background-color: #dbd8d8;
    border: none;
    border-radius: 40px;
    padding: 8px;
}

/* Conteúdo ================================================================= */

.conteudo{
    margin-top: 80px; /* Margem superior */
    margin-left: auto;
    margin-right: auto;
    width: 800px; /* Largula */
    border: solid 1px brown;

}

.titulo-principal{
    font-family: sans-serif; /* tipo ou família da fonte */
    font-weight: 900; /* espessura da linha da letra */
    font-size: 40px; /* tamanho da fonte */
}

.info{
    font-family: sans-serif;

}

.linha1{
    font-size: 17px;
}

.linha2{
    font-size: 15px;
}

.claro{
    color: #777777;
}

.escuro{
    color: #222222;
}

.acoes-conteudo{
    border-top: solid 1px #afaeae;
    border-bottom: solid 1px #afaeae;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.interacoes{
    display: flex;
    flex-direction: row;

    gap: 30px;
}

.compartilhamento{
    display: flex;
    flex-direction: row;

    gap: 25px;
}

.palmas{
    
}

.comentario{

}

.img-acoes-conteudo{
    height: 35px;
    border: none;
}